<section id="contenido-sesio">
	<div id="sesi">
		<div id="info-mostrarr">
			<h1>Perfil Usuario</h1>
		</div>
		<div id="info-mostrar">
			<h4>Cedula:</h4>
			<h3>18863225</h3>
		</div>
		<div id="info-mostrarr">
			<h4>Nombre:</h4>
			<h3>Dervis D. Gomez L.</h3>
		</div>
		<div id="info-mostrar">
			<h4>Departamento:</h4>
			<h3>Informatica</h3>
		</div>
		<div id="info-mostrarr">
			<h4>Rol:</h4>
			<h3>Evaluador</h3>
		</div>
		<div id="info-mostrar">
			<h4>Fecha de Nacimiento:</h4>
			<h3>11-Septiembre-2017</h3>
		</div>
		<div id="info-mostrarr">
			<h4>Direccion:</h4>
			<h3>Urb. La Caruciena sector 2 vereda 68 casa 15</h3>
		</div>
		<div id="info-mostrar">
			<h4>Estado Civil:</h4>
			<h3>Soltero</h3>
		</div>
		<div id="info-mostrarr">
			<h4>Grado Academico:</h4>
			<h3>Universitario
			</h3>
		</div>
		<div id="info-mostrar">
			<h4>Decanato:</h4>
			<h3>Ciencia y Tecnologia</h3>
		</div>
		<div id="info-mostrarr">
			<h4>Historial de Proyectos:</h4>
			<h3><%= link_to "Ver Historial", :controller => "sistema", :action => "inicio", :id => "descargar-proyecto"%></h3>
		</div>		
	</div>
</sectionula.html.erb</p>