<section id="contenido-sistema">

<div id="contenido-proyecto">
	<div id="estado-proyecto">
		<div id=contenido-proceso>
			<% for i in 0..5 
			if i==0 %>
				<div id="estado-actual"></div>
			<% else %>
				<div id="estado-proceso"></div>
			<% end
		end %>
		</div>
		<h3 id="estado-text">Inscripcion</h3>
	</div>
	<div id="informacion-proyecto">
		<h2 id="titulo-proyecto">Titulo del proyecto de investigacion que se lleva a cabo</h2>
		<div id="rol-usuario">Cod-proyecto</div>
		<div id="ver-proyecto">
			<%= link_to "Asignar", :controller => "proyecto", :action => "ver", :id => "ver-proyecto"%>
		</div>
	</div>
</div>
<div id="contenido-proyecto">
	<div id="estado-proyecto">
		<div id=contenido-proceso>
			<% for i in 0..5 
			if i==0 %>
				<div id="estado-actual"></div>
			<% else %>
				<div id="estado-proceso"></div>
			<% end
		end %>
		</div>
		<h3 id="estado-text">Inscripcion</h3>
	</div>
	<div id="informacion-proyecto">
		<h2 id="titulo-proyecto">Titulo del proyecto de investigacion que se lleva a cabo</h2>
		<div id="rol-usuario">Cod-proyecto</div>
		<div id="ver-proyecto">
			<%= link_to "Asignar", :controller => "proyecto", :action => "ver", :id => "ver-proyecto"%>
		</div>
	</div>
</div>
<div id="contenido-proyecto">
	<div id="estado-proyecto">
		<div id=contenido-proceso>
			<% for i in 0..5 
			if i==0 %>
				<div id="estado-actual"></div>
			<% else %>
				<div id="estado-proceso"></div>
			<% end
		end %>
		</div>
		<h3 id="estado-text">Inscripcion</h3>
	</div>
	<div id="informacion-proyecto">
		<h2 id="titulo-proyecto">Titulo del proyecto de investigacion que se lleva a cabo</h2>
		<div id="rol-usuario">Cod-proyecto</div>
		<div id="ver-proyecto">
			<%= link_to "Asignar", :controller => "proyecto", :action => "ver", :id => "ver-proyecto"%>
		</div>
	</div>
</div>

</section>