<section id="contenido-sesion">
	<div id="sesion">
		<%= form_tag({:id=>"for-sesion", :controller => "iniciar_sesion", :action => "introducirClave"}, :method => "get") do %>
			<h1 id="text-sesion">Entrar al Sistema</h1>
			<div id="contenido-mensaje">
				<div id="mensaje-sesion"><%= $mensaje %></div>
			</div>
			
			<%= text_field_tag "textCedula", "",  :placeholder => "Cedula", :required => "required", :id => "dato-sesion", :type => "number"%>
			
			<%= submit_tag "Siguiente", :id => "boton-sesion" %>
		<%end%>
	</div>
</sectionula.html.erb</p>
