<section id="contenido-sesion">
	<div id="sesion">
		<%= form_tag({:id=>"for-sesion", :controller => "iniciar_sesion", :action => "guardarClave"}, :method => "get") do %>
			<h1 id="text-sesion">Entrar al Sistema</h1>
			<div id="contenido-mensaje">
				<div id="mensaje-sesion"><%= $mensaje %></div>
			</div>
			
				<%= text_field_tag "textCodigo", "",  :placeholder => "Codigo", :required => "required", :id => "dato-sesion", :type => "text"%>
			
				<%= submit_tag "Siguiente", :id => "boton-sesion" %>
		<%end%>
	</div>
</sectionula.html.erb</p>